#banner {
    background-color: #973f3f;
    color: #Cae298;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 230px;
    width: 100vw;
    border-radius: 8px;
}
#site_intro {
    text-align: center;
    font-size: 72px;
}
#search_bar {
    border-radius: 10px;
    margin: 1rem;
    width: 170px;
}
#log_out {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #Cae298;
    text-align: end;
}
#log_out:hover {
    color: azure;
}
#right-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 230px;
}
@media (max-width: 420px) {
    #mobile-menu {
        visibility: visible;
    }
}
@media (min-width: 421px) {
    #mobile-menu {
        visibility: hidden;
    }
}